/* For Mobile Screens */
@media only screen and (max-width: 768px) {

    /* Navbar section */
    .mobile-nav {
        display: block;
        z-index: 1001;
    }

    .res-menu {


        position: absolute;

        top: 0;
        right: -1000px;
        flex-direction: column;
        width: 200px;
        height: 100vh;
        background-color: black;
        transition: all .5s ease;
    }

    /* Home Section */
    #home {

        
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        text-align: center;
        padding: 200px 10px;
        position: relative;
        width: 100vw;
    }
    #home h1{
        font-size: 2.5rem;
    }
    #home p{
        font-size: 1.5rem;
    }


    /* About Me Sectioin */
   #about .container {
        flex-direction: column;

    }

    #about .left-col,
    #about .right-col {
        width: 100%;
        padding: 0;
    }

    /* Contact Me Section */
    #contact {


        padding: 100px 0;
    }


    #contact h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: #555;
        text-transform: uppercase;
        position: relative;
        padding-bottom: .8rem;
    }

   /* Two Column Section */
   #two-column{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   }
#about, #blog{
    width: 100%;
}
   
   
   
   
}